<section class="contact-section" id="contact">
  <div class="contact-content-wrap container">
    <h2 class="contact-title">Reach Out</h2>
    <p class="contact-text">
      Want to partner, share feedback, or suggest a review? <br />
      We’re always looking to collaborate with developers, content creators, and
      power players.
    </p>
    <div class="contact-main">
      <address class="contact-info">
        <ul class="contact-info__list">
          <li class="contact-info__item">
            <h4 class="contact-info__label">Email:</h4>
            <a href="mailto:info@match3fa.com" class="contact-info__value"
              >info@match3fa.com</a
            >
          </li>
          <li class="contact-info__item">
            <h4 class="contact-info__label">Company:</h4>
            <span class="contact-info__value">Match3FA Community LLC</span>
          </li>
          <li class="contact-info__item">
            <h4 class="contact-info__label">Follow Us:</h4>
            <a
              href="https://twitter.com/Match3FAHub"
              target="_blank"
              rel="noopener noreferrer"
              class="contact-info__value"
            >
              @Match3FAHub
            </a>
          </li>
        </ul>
        <h4 class="contact-info__subtitle">Use Hashtags:</h4>
        <ul class="hashtags-list">
          <li class="hashtags-list__item">• #Match3FA</li>
          <li class="hashtags-list__item">• #PuzzleArena</li>
          <li class="hashtags-list__item">• #SwipeAndWin</li>
        </ul>
      </address>
      <img class="contact-img" src="./img/general/contact.png" alt="">
    </div>

  </div>
</section>
