<section class="events-section" id="events">
  <div class="events-content-wrap container">
    <h2 class="events-title">Compete. Solve. Win.</h2>
    <p class="events-text">
      Each day we post a featured puzzle challenge. Solve it using your favorite
      Match-3 title and submit your solution for the leaderboard.
    </p>
    <h4 class="events-list-title">Challenge Types:</h4>
    <ul class="events-list">
      <li class="events-list-item">
        <img class="events-img-radio" src="./img/general/radio-img.png" alt="" />
        <p class="events-list-text">Highest combo in 5 moves</p>
      </li>
      <li class="events-list-item">
        <img class="events-img-radio" src="./img/general/radio-img.png" alt="" />
        <p class="events-list-text">Fastest time to beat Level X</p>
      </li>
      <li class="events-list-item">
        <img class="events-img-radio" src="./img/general/radio-img.png" alt="" />
        <p class="events-list-text">Best score with no boosters</p>
      </li>
    </ul>

    <div class="event-bottom-notice">
      <img class="events-diamond"  src="./img/general/events-diamond.png" alt="" />
      <p class="event-botom-text">
        Top winners are featured weekly, and occasional sponsor prizes are
        awarded.
      </p>
    </div>
    <img class="events-girl" src="./img/general/events-girl.png" alt="">
    <a href="#" class="events-link">See Today’s Challenge</a>
  </div>
</section>
