<section class="footer-section">
  <div class="footer-content-wrap container">
    <a href="/" class="footer-logo-link"
      ><img class="header-logo" src="./img/mobile/header-logo.png" alt=""
    /></a>
    <div class="footer-content">
      <p class="footer-text-rights">All rights reserved</p>
      <div class="footer-links">
        <a href="./privacy.html" class="footer-link"
          >Privacy Policy<span class="footer-span">|</span></a
        >
        <a href="./terms.html" class="footer-link">
          Terms & Conditions<span class="footer-span">|</span></a
        >
        <a href="./cookies.html" class="footer-link">Cookies Policy</a>
      </div>
      <p class="footer-text-rights">Operated by Match3FA Community LLC</p>
      <p class="footer-text-rights">© 2025 match3fa.com</p>
    </div>
    <img src="./img/desktop/footer-stars-desktop.png" alt="" class="footer-stars">
  </div>
</section>
