<header class="header-section">
  <div class="header-content-wrap container">
    <a href="/" class="header-logo-link"
      ><img class="header-logo" src="./img/mobile/header-logo.png" alt=""
    /></a>
    <button class="burger-menu">
      <img src="./img/mobile/burger-menu.png" alt="" class="burger-img" />
    </button>

    <ul class="header-list">
      <li class="header-list-item">
        <a href="/#about" class="header-link">About</a>
      </li>
      <li class="header-list-item">
        <a href="/#reviews" class="header-link">Reviews</a>
      </li>
      <li class="header-list-item">
        <a href="/#strategy-hub" class="header-link">Strategy Hub</a>
      </li>
      <li class="header-list-item">
        <a href="/#events" class="header-link">Events</a>
      </li>
      <li class="header-list-item">
        <a href="/#leaderboard" class="header-link">Leaderboard</a>
      </li>
      <li class="header-list-item">
        <a href="/#join-community" class="header-link">Join Community</a>
      </li>
      <li class="header-list-item">
        <a href="/#contact" class="header-link">Contact</a>
      </li>
    </ul>
  </div>
  <div class="backdrop container">
    <button class="close-menu">
      <img src="./img/mobile/close-menu.png" alt="" class="close-img" />
    </button>
    <ul class="backdrop-list">
      <li class="backdrop-list-item">
        <a href="/#about" class="backdrop-link">About</a>
      </li>
      <li class="backdrop-list-item">
        <a href="/#reviews" class="backdrop-link">Reviews</a>
      </li>
      <li class="backdrop-list-item">
        <a href="/#strategy-hub" class="backdrop-link">Strategy Hub</a>
      </li>
      <li class="backdrop-list-item">
        <a href="/#events" class="backdrop-link">Events</a>
      </li>
      <li class="backdrop-list-item">
        <a href="/#leaderboard" class="backdrop-link">Leaderboard</a>
      </li>
      <li class="backdrop-list-item">
        <a href="/#join-community" class="backdrop-link">Join Community</a>
      </li>
      <li class="backdrop-list-item">
        <a href="/#contact" class="backdrop-link">Contact</a>
      </li>
    </ul>
  </div>
</header>
