<section class="leaderboard-section" id="leaderboard">
  <div class="leaderboard-content-wrap container">
    <h2 class="leaderboard-title">Track the Best, Climb the Ranks</h2>
    <p class="leaderboard-text">
      Join thousands of players competing in our ongoing league system. Play
      daily, submit results, and rise through the ranks.
    </p>
    <h4 class="leaderboard-img-title">Tiers</h4>
    <img src="./img/mobile/leaderboard-img.png" alt="" class="leaderboard-img">
    <img src="./img/desktop/leaderboard-img-desktop.png" alt="" class="leaderboard-img-desktop">
    <h4 class="leaderboard-list-tilte">Points Earned For</h4>
    <ul class="leaderboard-list">
      <li class="leaderboard-list-item">
        <img src="./img/general/leaderbord-stone.png" alt="" class="leaderboard-list-img">
        <p class="leaderboard-list-text">Daily challenge submissions</p>
      </li>
      <li class="leaderboard-list-item">
        <img src="./img/general/leaderbord-stone.png" alt="" class="leaderboard-list-img">
        <p class="leaderboard-list-text">Guide contributions</p>
      </li>
      <li class="leaderboard-list-item">
        <img src="./img/general/leaderbord-stone.png" alt="" class="leaderboard-list-img">
        <p class="leaderboard-list-text">Community votes</p>
      </li>
    </ul>
    <a href="#" class="leaderboard-link">View Leaderboard</a>
  </div>
</section>
