<section class="matchup-tool-section">
  <div class="matchup-tool-content container">
    <h2 class="matchup-tool-title">Find Your Next Favorite Game</h2>
    <p class="matchup-tool-text">
      Use our interactive tool to compare Match-3 games by difficulty, pace,
      aesthetic, monetization model, and platform.
    </p>
    <ul class="matchup-tool-list">
      <li class="matchup-tool">
        <p class="matchup-tool-list-text">Casual or Competitive</p>
        <img
          src="./img/general/matchup-img.png"
          alt=""
          class="matchup-tool-img"
        />
      </li>
      <li class="matchup-tool">
        <p class="matchup-tool-list-text">Free or Premium</p>
        <img
          src="./img/general/matchup-img.png"
          alt=""
          class="matchup-tool-img"
        />
      </li>
      <li class="matchup-tool">
        <p class="matchup-tool-list-text">Power-up Heavy or Minimalist</p>
        <img
          src="./img/general/matchup-img.png"
          alt=""
          class="matchup-tool-img"
        />
      </li>
    </ul>
    <a href="#" class="matchup-tool-link">Try the Matchup Tool</a>
  </div>
</section>
