<section class="ranking-section">
  <div class="ranking-content-wrap container">
    <h2 class="ranking-title">Best Match-3 Games by Category</h2>
    <p class="ranking-text">
      We rank games by genre, device, and design philosophy — so you can find
      exactly what you’re looking for.
    </p>
    <div class="ranking-content">
      <div class="ranking-text-wrap">
        <h4 class="ranking-list-title">Categories:</h4>
        <ul class="ranking-list">
          <li class="ranking-list-item">
            <img
              src="./img/general/radio-img.png"
              alt=""
              class="ranking-img-radio"
            />
            <p class="ranking-list-text">Best F2P Mobile Match-3 Games</p>
          </li>
          <li class="ranking-list-item">
            <img
              src="./img/general/radio-img.png"
              alt=""
              class="ranking-img-radio"
            />
            <p class="ranking-list-text">Most Balanced Level Progression</p>
          </li>
          <li class="ranking-list-item">
            <img
              src="./img/general/radio-img.png"
              alt=""
              class="ranking-img-radio"
            />
            <p class="ranking-list-text">Best Visual Design in a Puzzle Game</p>
          </li>
          <li class="ranking-list-item">
            <img
              src="./img/general/radio-img.png"
              alt=""
              class="ranking-img-radio"
            />
            <p class="ranking-list-text">Long-Term Replay Value</p>
          </li>
        </ul>
        <a href="#" class="ranking-link">View Current Rankings</a>
      </div>
      <!-- <img src="./img/general/ranking-img.png" alt="" class="ranking-img"> -->
      <img src="./img/desktop/ranking-img-desktop.png" alt="" class="ranking-img-desktop">
    </div>
  </div>
</section>
