<section class="reviews-section" id="reviews">
  <div class="reviews-content-wrap container">
    <h2 class="reviews-title">Know Before You Match</h2>
    <p class="reviews-text">
      We provide thoughtful, spoiler-free reviews of popular Match-3 titles. Our
      reviews cover gameplay depth, design innovation, monetization fairness,
      and long-term replayability.
    </p>
    <h4 class="reviews-list-title">Recent Reviews:</h4>
    <ul class="reviews-list">
      <li class="reviews-list-item">
        <div class="reviews-list-wrap">
          <h3 class="reviews-list-subtitle">
            Jewel Crush vs. Gem Frenzy – Which Is Worth Your Time?
          </h3>
          <p class="reviews-list-text">Which Is Worth Your Time?</p>
        </div>
        <div class="reviews-read-more">
          <img
            src="./img/general/reviews-star.png"
            alt=""
            class="reviews-star"
          />
          <a href="#" class="reviews-more-text"
            >Read more<img
              src="./img/general/reviews-arrow.png"
              alt=""
              class="reviews-arrow"
          /></a>
        </div>
      </li>
      <li class="reviews-list-item">
        <div class="reviews-list-wrap">
          <h3 class="reviews-list-subtitle">Candy Clash 3D:</h3>
          <p class="reviews-list-text">
            Great Visuals, But Does It Deliver on Challenge?
          </p>
        </div>
        <div class="reviews-read-more">
          <img
            src="./img/general/reviews-star.png"
            alt=""
            class="reviews-star"
          />
          <a href="#" class="reviews-more-text"
            >Read more<img
              src="./img/general/reviews-arrow.png"
              alt=""
              class="reviews-arrow"
          /></a>
        </div>
      </li>
      <li class="reviews-list-item">
        <div class="reviews-list-wrap">
          <h3 class="reviews-list-subtitle">
            Top 5 Underrated Match-3 Games with No Ads
          </h3>
          <span class="reviews-list-span"></span>
        </div>
        <div class="reviews-read-more">
          <img
            src="./img/general/reviews-star.png"
            alt=""
            class="reviews-star"
          />
          <a href="#" class="reviews-more-text"
            >Read more<img
              src="./img/general/reviews-arrow.png"
              alt=""
              class="reviews-arrow"
          /></a>
        </div>
      </li>
    </ul>
    <a href="#" class="reviews-browse-all">Browse All Reviews</a>
  </div>
</section>
