<section class="strategy-hub-section" id="strategy-hub">
  <div class="strategy-hub-content-wrap container">
    <h2 class="strategy-hub-title">Master the Match</h2>
    <p class="strategy-hub-text">
      From beginner tips to expert scoring strategies, our in-depth guides break
      down every system that makes Match-3 games tick.
    </p>
    <div class="strategy-hub-content">
      <div class="strategy-hub-text-wrap">
        <h4 class="strategy-hub-list-title">Topics We Cover:</h4>
        <ul class="strategy-hub-list">
          <li class="strategy-hub-list-item">
            <img
              src="./img/general/radio-img.png"
              alt=""
              class="strategy-hub-img-radio"
            />
            <p class="strategy-hub-list-text">Booster stacking and combo chains</p>
          </li>
          <li class="strategy-hub-list-item">
            <img
              src="./img/general/radio-img.png"
              alt=""
              class="strategy-hub-img-radio"
            />
            <p class="strategy-hub-list-text">Scoring mechanics: How to maximize efficiency</p>
          </li>
          <li class="strategy-hub-list-item">
            <img
              src="./img/general/radio-img.png"
              alt=""
              class="strategy-hub-img-radio"
            />
            <p class="strategy-hub-list-text">Energy systems and resource pacing</p>
          </li>
          <li class="strategy-hub-list-item">
            <img
              src="./img/general/radio-img.png"
              alt=""
              class="strategy-hub-img-radio"
            />
            <p class="strategy-hub-list-text">Level types and how to beat blockers</p>
          </li>
        </ul>
        <a href="#" class="strategy-hub-link">Open Strategy Hub</a>
      </div>
      <img
        src="./img/general/strategy-hub-img.png"
        alt=""
        class="strategy-hub-img-desktop"
      />
    </div>
  </div>
</section>
