.leaderboard-content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  @include media(desktop) {
    padding-bottom: 100px;
  }
}

.leaderboard-text {
  margin-top: 16px;
  @include media(desktop) {
    margin-top: 32px;
    font-size: 32px;
    text-align: center;
  }
}

.leaderboard-img-title {
  margin-top: 16px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  @include media(desktop) {
    margin-top: 32px;
    font-size: 32px;
  }
}

.leaderboard-img {
  margin-top: 16px;
  @include media(desktop) {
    display: none;
    margin-top: 32px;
  }
}

.leaderboard-img-desktop {
  display: none;
  @include media(desktop) {
    display: block;
  }
}

.leaderboard-list-tilte {
  margin-top: 25px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #255eab;
  @include media(desktop) {
    font-size: 32px;
    margin-top: 50px;
  }
}

.leaderboard-list {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  gap: 24px;
  @include media(desktop) {
    flex-direction: row;
    gap: 105px;
  }
}

.leaderboard-list-item {
  display: flex;
  gap: 4px;
  align-items: center;
}

.leaderboard-list-img {
  width: 50px;
  height: 50px;
}

.leaderboard-list-text {
  @include media(desktop) {
  }
}

.leaderboard-link {
  margin-top: 25px;
  border-radius: 20px;
  padding: 16px 32px;
  width: 174px;
  height: 50px;
  background: #fffb5b;

  font-family: 'Madimi One', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #272a5e;
  @include media(desktop) {
    width: 252px;
    height: 64px;
    font-size: 24px;
    margin-top: 48px;
  }
}
