.ranking-content-wrap {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media(desktop) {
    padding-bottom: 100px;
  }
}

.ranking-text {
  text-align: center;
  margin-top: 16px;
  @include media(desktop) {
    margin-top: 32px;
    font-size: 32px;
  }
}

.ranking-content {
  display: flex;
  flex-direction: column;
  @include media(desktop) {
    flex-direction: row;
    gap: 105px;
    align-items: center;
    margin-top: 32px;
  }
}

.ranking-text-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media(desktop) {
    align-items: self-start;
  }
}

.ranking-list-title {
  margin-top: 13px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #255eab;
  @include media(desktop) {
    font-size: 24px;
  }
}

.ranking-list {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  @include media(desktop) {
    margin-top: 32px;
  }
}

.ranking-list-item {
  display: flex;
  gap: 25px;
  @include media(desktop) {
    width: 450px;
  }
}

.ranking-img-radio {
  width: 20px;
  height: 20px;
  @include media(desktop) {
    width: 30px;
    height: 30px;
  }
}

.ranking-link {
  margin-top: 25px;
  border-radius: 20px;
  padding: 16px 32px;
  width: 202px;
  height: 50px;
  background: #fffb5b;

  font-family: 'Madimi One', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #272a5e;
  @include media(desktop) {
    width: 301px;
    height: 64px;
    font-size: 24px;
    margin-top: 48px;
  }
}



.ranking-img-desktop {
  display: block;
  height: auto;
  margin-top: 30px;
  min-width: 0;   
  @include media(desktop) {
    margin-top: 0;
      width: 100%;
  max-width: 758px;
  }
}
