@import './header.scss';
@import './hero.scss';
@import './about.scss';
@import './reviews.scss';
@import './strategy-hub.scss';
@import './events.scss';
@import './leaderboard.scss';
@import './join-community.scss';
@import './contact.scss';
@import './cookies-modal.scss';
@import './footer.scss';
@import './cpt.scss';

.container {
  max-width: 375px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  background: #a9ccee;
  @include media(desktop) {
    max-width: 1440px;
    padding-left: 60px;
    padding-right: 60px;
  }
}



h1, h2 {
  font-family: 'Madimi One', sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #0d4378;
  @include media(desktop) {
    font-size: 70px;
  }
}


body {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #255eab;
  line-height: 1.5;
  @include media(desktop) {
    font-size: 24px;
  }
}
